* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
  --color-background: #1e1e24;
  --color-surface: #2a2a33;
  --color-primary: #7f5af0;
  --color-accent: #2cb67d;
  --color-error: #ff6b6b;

  --color-text-primary: #e4e4e7;
  --color-text-secondary: #a1a1aa;

  --color-border: #3f3f46;
  --color-shadow: rgba(0, 0, 0, 0.25);
}

header {
    background-color: var(--color-background);
    display: flex;
    position: sticky;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}